<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{% if entry.title is defined %}{{ entry.title }} | {% elseif title is defined %}{{ title }} | {% endif %}{{ siteName }}</title>

  <link rel="icon" href="{{ siteUrl }}img/favicon-150x150.jpg">

  <link rel="stylesheet" href="{{ siteUrl }}dist/app.css?v={{ craft.config.environmentVariables.staticAssetsVersion }}">

  {% block head %}{% endblock %}
</head>
<body>

<nav class="header">
  <div class="container">

    <div class="row">

      <div class="col-md-5">
        <a class="logo" href="{{ siteUrl }}">
          <img src="{{ siteUrl }}img/logo.svg" alt="{{ siteName }}">
        </a>
      </div>

    </div>

  </div>
</nav>

<div class="content">

  <div class="container">

    {% block content %}{% endblock %}

  </div>

</div>

<div class="footer">
  <div class="container">
    &copy; {{ now.year }}
  </div>
</div>

<script src="{{ siteUrl }}dist/app.js?v={{ craft.config.environmentVariables.staticAssetsVersion }}"></script>

{% block footer %}{% endblock %}
</body>
</html>
